﻿body {
    font-family: Verdana;
}
th, td {
    padding: 10px;
}
.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: #FF5050;
    color: white;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.redbg {
    background-color:#FF5050;
}
