﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="InfoPage.aspx.cs" Inherits="StudentFeedbackSystem.InfoPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>User Page</title>
    <link rel="Stylesheet" type="text/css" href="css.css" />
</head>
<body>
    <form id="form1" runat="server">
    <asp:Panel ID="Panel1" runat="server" BackColor="#FF5050" Height="500px" HorizontalAlign="Center" Width="800px">
        <div style="color:white">
                &nbsp;
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                Welcome
                <asp:Label ID="lblUserName" runat="server"></asp:Label>
                !<br />
                <br />
                <br />
                <asp:Button ID="btnCheckOut" runat="server" CssClass="button" OnClick="btnCheckOut_Click" Text="Check Out" BackColor="#CCCCCC" ForeColor="#333333" Height="50px" Width="160px" />
           
                
           
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:Button ID="btnCancel" runat="server" BackColor="Silver" CssClass="button" ForeColor="#333333" Height="50px" OnClick="btnCancel_Click" Text="Cancel" Width="160px" />
           
                
           
        </div>        
    </asp:Panel>
    </form>
</body>
</html>
