﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SubmittedPage.aspx.cs" Inherits="StudentFeedbackSystem.SubmittedPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="Stylesheet" type="text/css" href="css.css" />
    <title>
        Thank You for Choosing Hotel 82 
    </title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <center>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
&nbsp;&nbsp;
                <asp:Label ID="Label1" runat="server" Text="Thank You For Choosing Hotel 82" Font-Size="X-Large"></asp:Label>
            </center>
        </div>
       <br />
       <br />
        <div>  
            <center>
                <asp:Button ID="btnReturn" runat="server" Text="Return to Login" OnClick="btnReturn_Click" CssClass="button" /> 
            </center>
        </div>        
    </form>
</body>
</html>
