﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FeedbackEnd.aspx.cs" Inherits="StudentFeedbackSystem.FeedbackEnd" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Panel ID="Panel1" runat="server" BackColor="#0000A0" Height="381px" 
            HorizontalAlign="Center" Width="800px">
            <br />
            <br />
            <asp:Label ID="Label1" runat="server" Text="Thank you for your feedback..." 
                Font-Size="X-Large" ForeColor="White"></asp:Label>
            <br />
            <br />
            <br />
            <br />
            &nbsp; &nbsp;&nbsp;
            <br />
            <br />
            <br />
            <br />
            <br />
        </asp:Panel>
        <br />
    
    </div>
    </form>
</body>
</html>
